<!-- templates/arr.tmpl -->
<html>
<link rel="stylesheet" href="http://127.0.0.1:9999/assets/css/gee.css">
<body>
    <p>hello, {{.title}}</p>
    <p>Date: {{.now | FormatAsDate}}</p>
</body>
</html>
